---
http_interactions:
- request:
    method: get
    uri: https://geocoding.geo.census.gov/geocoder/locations/address?benchmark=Public_AR_Current&city=Montpelier&format=json&state=Vermont&street=10%20Corse%20St&zip=05602
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result":{"input":{"address":{"zip":"05602","city":"Montpelier","street":"10
        Corse St","state":"Vermont"},"benchmark":{"isDefault":true,"benchmarkDescription":"Public
        Address Ranges - Current Benchmark","id":"4","benchmarkName":"Public_AR_Current"}},"addressMatches":[{"tigerLine":{"side":"L","tigerLineId":"136666375"},"coordinates":{"x":-72.5749091304874,"y":44.26380948438649},"addressComponents":{"zip":"05602","streetName":"CORSE","preType":"","city":"MONTPELIER","preDirection":"","suffixDirection":"","fromAddress":"2","state":"VT","suffixType":"ST","toAddress":"18","suffixQualifier":"","preQualifier":""},"matchedAddress":"10
        CORSE ST, MONTPELIER, VT, 05602"}]}}'
  recorded_at: Sun, 18 Aug 2024 22:33:56 GMT
recorded_with: VCR 6.2.0
